body {
    background-image: url("../images/gingham-wallpaper.jpg");
    background-position: center;
    background-repeat: inherit;
    text-shadow: .75px .75px white;
    background-color: black;
}

h2, h3, h4 {
    text-align: center;
    font-weight: bold;
}

div, form {
    text-align: center;
    margin: 20px 0px;
}

form {
    font-size: 20px;
}

button {
    padding: 5px 10px 5px 10px;
    margin: 20px 20px 20px 20px;
}

#inputBtn {
    margin: 20px 20px;

}

#jumbotron {
    display: block;
    float: center;
    min-width: 270px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin: 3px 3px;
    text-align: center;
    min-height: 80px;
}

#jumbotron #gifContainer .gifDiv img {
    width: 100%;
}

.gifDiv {
    display: inline-block;
    width: 250px;
    max-width: 100%;
    margin: 3px 3px;

}
